name: Deploy to Cloud Run

env:
  SERVICE_NAME: learners-digital-website
  PROJECT_ID: learners-digital-480411
  REGION: us-central1

on:
  push:
    branches:
      - main

jobs:
  dockerize-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Google Cloud Auth
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
          project_id: ${{ env.PROJECT_ID }}

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v2'

      - name: Configure Docker for GCR
        run: |
          gcloud auth configure-docker

      - name: Build and Push Docker Image
        run: |
          docker build -t us-docker.pkg.dev/learners-digital-480411/learners-digital-docker-repo/learners-digital-website:$SHORT_SHA .
          docker push us-docker.pkg.dev/learners-digital-480411/learners-digital-docker-repo/learners-digital-website:$SHORT_SHA


      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy ${{ env.SERVICE_NAME }} \
            --image us-docker.pkg.dev/learners-digital-480411/learners-digital-docker-repo/learners-digital-website:$SHORT_SHA \
            --platform managed \
            --region ${{ env.REGION }} \
            --allow-unauthenticated \
            --port 8080 \
            --memory 512Mi